<div class="container">
    <h2 class="page-header">Transfer</h2>
    <form (submit)="transfer()">
      <select class="form-control"  id="power" required [(ngModel)]="To" name="To">
      <option *ngFor="let user of users" [value]="user._id">{{user.Name}}</option>
      </select>
      <div class="form-group">
          <label>Credits</label>
          <input type="text" [(ngModel)]="Credit" name="Credit" class="form-control">
      </div>
      <input type="submit" class="btn btn btn-success" value="Add">
    </form>
  </div>