<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h3>Name</h3>
    </div>
    <div class="col-md-4">
      <h3>Balance</h3>
    </div>
    <div class="col-md-4">
      <h3>No.Of.Transaction</h3>
    </div>
  </div>
  <div *ngFor="let user of users">
    <div class="row">
      <a routerLink="/user/{{ user._id }}" routerLinkActive="active">
        <div class="col-md-4">
          {{ user.Name }}
        </div>
        <div class="col-md-4">
          {{ user.Balance }}
        </div>
        <div class="col-md-4">
          {{ user.NOTR }}
        </div>
      </a>
    </div>
  </div>
</div>
